.logo {
    height: 50px;
}
.ust-kisim {
background-image: url(mm4.avif);
height: 100vh;
width: 100%; 
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
}

.ust-kisim-sayfalar {
    background-image: url(mm2.avif);
    height: 100vh;
    width: 100%; 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    .color-sayfa {
        color:rgb(236, 228, 228);
    }
/*ANASAYFA*/

.carousel-item img {
height: 500px;
width: 20%;
}