.logo {
    height: 50px;
}
/*.ust-kisim {
background-image: url(mm6.avif);
height: 100vh;
width: 100%; 
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
overflow-y: auto; /* Sayfa boyunca kaydırma çubuğunu görünür yapar 
z-index: 0; /* Navbar ve diğer içeriklerin üstüne çıkmasını sağlar 
}

.ust-kisim-sayfalar {
    background-image: url(mm6.avif);
    height: 100vh;
    width: 100%; 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    }*/
    .ust-kisim,
.ust-kisim-sayfalar {
    background-image: url(mm6.avif);
    height: 100vh;
    width: 100%; 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: auto; /* Sayfa boyunca kaydırma çubuğunu görünür yapar */
    z-index: 0; /* Navbar ve diğer içeriklerin üstüne çıkmasını sağlar */
    position: fixed; /* Arka planın sabit kalması için */
}
    .color-sayfa {
        color:rgb(236, 228, 228);
    }
    .color-baslik {
        color:rgb(39, 65, 5);
    }
    .card {
        margin-top: 20px; /* Kartın üst boşluğu */
        margin-right: 20px; /* Kartın sağ boşluğu */
      }

      .spor
      {
        width: 900px;
        margin:auto;
        }

        .sola-kaydir{
        float:left;
        padding:0 10px 10px 0;
        }
        .saga-kaydir{
            float:right;
            padding:0 10px 10px 0;
        }
/*ANASAYFA*/

.carousel-item img {
height: 500px;
width: 20%;
}